<template>
    <form @submit.prevent="getId">
        <input placeholder="Your email" class="form-control mb-3" type="email" name="email" v-model="email"/>
        <small  v-if="error" class="text-danger d-block mb-3">Couldn't find you, check your order confirmation to find your tracking link</small>

        <button type="submit" class="btn btn-primary btn-lg">{{!loading ? 'Login' : 'Loading' }}</button>
    </form>
</template>

<script>
    export default {
        data() {
            return {
                email: '',
                error: '',
                loading: false
            }
        },
        methods: {
            getId() {

                if (this.email.length == 0) {
                    return false
                }

                let request = {
                    'email': this.email
                };

                this.loading = true;
                axios.post('/api/customer-id', request)
                    .then((response) => {
                        console.log(response);
                        if (response.status === 200) {
                            this.loading = false;
                            window.location.href = response.data;
                        }
                    })
                    .catch((error) => {
                        this.loading = false;
                        this.error = true;
                    });
            }
        },
        mounted() {
            //console.log('Component mounted.')
        }
    }
</script>
