<template>
	<button class="btn btn-primary" @click="callback">
		<span :class="{'icon-spin': isLoading}" class="oi oi-reload"></span>
		<span v-show="isInitial">{{initial}}</span>
		<span v-show="isLoading">{{loading}}</span>
		<span v-show="isSuccess">{{success}}</span>
		<span v-show="isError">{{error}}</span>
	</button>
</template>

<script>
	const states = ['intial','loding','error','success'];
    export default {
		props : {
			callback: {
				type: Function
			},
			state: {
				type: String,
				default: 'initial'
			},
			initial: {
				type: String,
				default: 'Fetch'
			},
			error: {
				type: String,
				default: 'Error'
			},
			success: {
				type: String,
				default: 'Done'
			},
			loading: {
				type: String,
				default: 'Loading'
			}
		},
		methods: {
			clickCallback() {
				this.$emit('callback', true);
			}
		},
        computed: {
			isInitial() {
				return this.state == 'initial';
			},
			isError() {
				return this.state == 'error';
			},
			isSuccess() {
				return this.state == 'success';
			},
			isLoading() {
				return this.state == 'loading';
			}
        },
        mounted() {

        }
    }
</script>
