<template>
    <div>
        <div class="page-header">
			<h1 class="page-title">Optimo create orders</h1>
			<loading-button :state="state" initial="Fetch"  :callback="start"/>
        </div>
        <div class="route-status">
			<div class="route-status__el" :class="statusClass(i)" v-for="i in orders"></div>
        </div>
        <div v-if="state === 'success'">
    		<div v-if="formError">
    			<optimo-form :order="formError"/>
    		</div>
    		<div class="card" v-for="(item, index) in errors">
    			<div class="card-body">
    				<small>{{item.result.code}}</small>
    				<p>{{item.result.message}}</p>
    				<p>
    					{{item.customer.first_name}} {{item.customer.last_name}},
    					{{item.shipping_address.address1}},
    					{{item.shipping_address.address2}},
    					{{item.shipping_address.city}} {{item.shipping_address.zip}}
    				</p>
    				<button class="btn btn-primary" @click="errorIndex = index">
						Fix
					</button>
    			</div>

    		</div>
        </div>
    </div>
</template>
<style scoped>
    .route-status{
        display: flex;
    }
    .route-status__el {
        flex: 1;
        border: 1px solid black;
        content: '';
        height: 10px;
    }
</style>
<script>
	import OptimoForm from './optimo/OptimoForm.vue';
	import {values} from 'lodash';
    export default {
		name: 'optimo-container',
		components: { OptimoForm },
		data() {
			return {
				state: 'initial',
				error: false,
                max: 999,
                offset: 0,
				errors: [],
				orders: [],
				errorIndex: null
			}
		},
		computed:{
			formError(){
				return this.errors[this.errorIndex]
			},
            maxCalls () {
			    return this.max <= this.orders.length ? this.max : this.orders.length;
            }
		},
		methods: {
		    statusClass(i){
		      if(!i['result']){
		          return 'bg-light';
              }
                if(!i['result']['success']){
                    return 'bg-success';
                }
                return 'bg-warning';
            },
		    start() {
				this.deleteOrders();
			},
            deleteOrders() {
                console.log('deleting...');
                const options = {responseType: 'json'};
                const url = '/api/optimo/delete-orders';

                this.state = 'loading';

                window.axios.get(url, options)
				.then((response) => {
					console.log('deleted...');
                    this.getOrders();
				});
			},
            getOrders() {
                console.log('fetching...');
                const options = {responseType: 'json'};
                const url = '/api/orders/delivery';
                //const url = '/api/optimo/create-orders';

                window.axios.get(url, options)
                    .then((response) => {
                        this.orders = response.data;
                        this.state = 'success';
                        this.postOrders();
                    });
            },
            postOrders: function () {
                console.log('posting', this.maxCalls , '...');

                this.postOrder(0);
            },
            postOrder(index) {
                const url = '/api/optimo/create-order';
                const options = {
                    responseType: 'json',
                    body : this.orders[index]
                };

                console.log('create order', index + 1, '/', this.maxCalls, this.orders[index]['number']);
                window.axios.post(url, options)
                .then((response) => {
                    console.log('done order', index + 1, '/', this.maxCalls);
                    this.orders[index]['result'] =  response.data;
                    if(index + 1 < this.maxCalls) {
                        this.postOrder(index + 1);
                    }
                    this.errors = this.orders
                        .filter(function(order){return order.result})
                        .filter(function(order){return !order.result.success});
                });
			}
		},
        mounted() {

        }
    }
</script>
