<template>
    <div v-if="ready">
		<order-component name="Delivery + Pickup Points" :data="this.orders.orders"/>
		<order-component name="Delivery" :data="this.orders.orders_delivery"/>
		<order-component
			v-for="pickup in this.orders.orders_pickup"
		    :key="pickup.slug"
			:name="pickup.name"
			:data="pickup.orders"/>
		<order-component
			v-for="driver in this.orders.orders_driver"
		    :key="driver.name"
			:name="driver.name"
			:data="driver.driver_orders"/>
    </div>
</template>
<style>
	.variant-children{
		padding: 1em 0;
	}
</style>
<script>
    export default {
		name: 'order-container',
		data() {
			return {
				loading: true,
				ready: false,
				error: false
			}
		},
        mounted() {

				const options = {responseType: 'json'};
				const url = '/api/orders';

				window.axios.get(url, options)
                .then((response) => {
					console.log(response.data);
					this.orders = response.data;
					this.loading = false;
					this.ready = true;
                });
        }
    }
</script>
