<template>
	<table class="table" :class="{visible : visible}">
		  <thead @click="visible=!visible">
		    <tr>
		      <th scope="col">Total for {{name}}</th>
			  <th scope="col" class="text-right">
				 <span class="badge badge-pill badge-dark">{{countTotal}}</span>
			  </th>
		    </tr>
		  </thead>
		  <tbody v-show="visible">
		    <tr v-for="(variant, index) in sorted">
		      <td class="name"
			  	  @click="expandIndex == index ? expandIndex = null : expandIndex = index"
			  >
				  <b style="color:black;" >{{variant.customer.first_name}} {{variant.customer.last_name}}</b> | {{variant.shipping_address.address1}},{{variant.shipping_address.address2}}{{variant.shipping_address.city}}<br>
				  <i class="note">{{variant.note}}</i>
				  <div class="variant-children" v-show="expandIndex == index">
					<div class="variant-children-item" v-for="item in variant.line_items">
	                    {{item.name}} : {{item.quantity}}
	                </div>
				  </div>
			  </td>
		    </tr>
		  </tbody>
		</table>
</template>

<script>
    export default {
		name: 'order-component',
		props: {
			data : {
				type: Array
			},
			name : {
				type: String
			}
		},
		data() {
			return {

				expandIndex: null,
				visible: false
			}
		},
		computed: {
			countTotal() {
				return this.data.length;
			},
			sorted() {
				let sorted = this.data;
				return sorted.slice().sort(function(a, b){
				    let nameA= a.customer.first_name.toLowerCase();
					let nameB=b.customer.first_name.toLowerCase();
				    if (nameA < nameB) //sort string ascending
				        return -1
				    if (nameA > nameB)
				        return 1
				    return 0 //default return value (no sorting)
				})
			}
		},
		mounted() {

		}
    }
</script>

<style scoped>

</style>
