<template>
<div class="card">
	<div class="card-body d-flex align-items-center justify-content-between">
		<h5 class="routes-order-component__name">Drivers</h5>
		<a class="btn btn-outline-primary" href="#"
		   v-show="routeId !== null"
		   @click="routeId = null"
		>Back</a>
	</div>
	<div class="list-group list-group-flush"

	v-if="ready" v-for="(route, index) in routes"
	v-show="routeId == null || routeId == route.driverSerial"
	>
		<div @click="setRoute(route)" class="list-group-item list-group-item-action list-group-item-driver" :class="{'list-group-item-dark' : routeId == route.driverSerial}">
			<span class="driver-name">{{route.driverName}}</span>
			<span class="driver-km">{{distance(route)}}km</span>
			<span class="driver-time">{{duration(route)}}h</span>
		</div>
		<div class="list-group-item list-group-item-progress" v-show="routeId == route.driverSerial">
			<div class="progress">
			  <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
		</div>
		<div class="list-group-item list-group-item-orders" v-show="routeId == route.driverSerial" >
			<div
				v-if="routeId == route.driverSerial"
				v-for="(keystop, stopIndex) in route.stops"
				@click="setStop(stopIndex, keystop)"
			>
				<div class="list-group-item d-flex align-items-center justify-content-between"
				:class="{'list-group-item-success' : isComplete(keystop.orderNo)}"
				v-if="stop === null" v-show="stop !== stopIndex">
					<div>
						<small><strong>{{keystop.locationName}}</strong></small>&nbsp;|&nbsp;
						<small>{{keystop.address}}</small>
					</div>
					<p>{{keystop.scheduledAt}}</p>
				</div>
				<route-order-component
				   v-if="stop == stopIndex && routeId == route.driverSerial"
				   :key="keystop.orderNo"
				   :stop-data="keystop"
				   :route-data="route"
				   :is-double="isDouble(stopIndex, route.stops)"
				></route-order-component>
			</div>
		</div>
	</div>
</div>
</template>
<style>
.list-group-item-progress {
    border-bottom-width: 4px;
    border-bottom-color: rgba(0, 0, 0, 0.250);
}
.list-group-item-orders {
	padding: 0 0;
}
</style>
<script>
import {getOptimoId} from "./../mixins/mixins.js";
import RouteOrderComponent from './RouteOrderComponent.vue'
export default {
	name: 'routes-container',
	components: {
		RouteOrderComponent
	},
	data() {
		return {
			loading: true,
			ready: false,
			error: false,
			routes: null,
			routeId: null,
			stop: null,
			stopCount: null,
			stopLoading: true,
			fulfillments: null
		}
	},
	computed: {
		firstStop() {
			if(this.stop === null) {
				return false;
			}
			return this.stop === 0;
		},
		lastStop() {
			if(this.stop === null) {
				return false;
			}
			return this.stop === this.stopCount -1;
		}
	},
	methods: {
		setRoute(route) {
			this.routeId = route.driverSerial;
			this.stop = null;
			this.stopCount = route.stops.length;
		},
		setStop(index, stop) {
			console.log(stop.orderNo);
			this.stop = index;
		},
		distance(route) {
			return route.distance.toFixed(0);
		},
		isComplete(id){
			const fulfillments = this.fulfillments;
			const active_fulfillments= fulfillments.filter(function(e) {
				return id == e.order_id && !!e.fulfillment_status;
			});
			return active_fulfillments.length > 0;
		},
		isDouble(index, stops) {

			if(!stops[index] || !stops[index+1]) {
				return false;
			}

			const current = stops[index].address;
			const next = stops[(index+1)].address;

			return current === next;
		},
		duration(route) {
			return (route.duration / 60).toFixed(2);
		},
		isBefore(index) {
			if (this.stop - index == -1) {
				return true;
			}
		},
		isAfter(index) {
			if (this.stop - index == 1) {
				return true;
			}
		},
		isAround(index) {
			if (this.stop - index == -1) {
				return true;
			}
			if (this.stop === index) {
				return true;
			}
			if (this.stop - index == 1) {
				return true;
			}

			return false;
		},
		advanceStop(directions) {
			this.stop = this.stop + directions;
		},
		getRoutes() {
			const options = {
				responseType: 'json'
			};
			const url = '/api/optimo/get-routes';

			window.axios.get(url, options)
				.then((response) => {
					console.log(response.data);
					this.routes = response.data.routes;
					this.loading = false;
					this.ready = true;
					this.getFulfillments();
				});
		},
		getFulfillments() {
			const options = {
				responseType: 'json'
			};
			const url = '/api/fulfillments';

			window.axios.get(url, options)
			.then((response) => {
				console.log(response.data);
				this.fulfillments = response.data;
				// this.fulfillments = response.data.map(function(e){
				// 	let id = e.order_id+'#'+e.order_number;
				// 	return id;
				// });
			});
		}
	},
	mounted() {

		this.getRoutes();
	}
}
</script>
