<template>
    <div class="routes-order-component">
		<div class="routes-order-component__loading" v-show="loading" >
			<span :class="{'icon-spin': loading}" class="oi oi-reload"></span>
		</div>
        <div class="row" v-if="ready">
            <div class="col-md-12">
				<div class="routes-order-component__header card">
				  <div class="card-body">


				    <h5 class="routes-order-component__name">{{order.customer.first_name}} {{order.customer.last_name}}
						<span class="badge badge-secondary" v-show="!isFulfilled">not fulfilled</span>
						<span class="badge badge-success" v-show="isFulfilled">fulfilled</span>
					</h5>
					<h6 class="card-subtitle mb-2 text-muted">{{shippingAddress}} <span class="badge badge-warning" v-show="isDouble">double order</span></h6>
					<a class="routes-order-component__phone btn btn-outline-primary" :href="phoneLink">{{order.billing_address.phone}}</a>
				  </div>
				  <a href="#" v-if="order.note" class="list-group-item list-group-item-warning">
				    <div class="d-flex w-100 justify-content-between">
				      <h5 class="mb-1">Customer note</h5>
				    </div>
				    <p class="mb-1">{{order.note}}</p>
				  </a>
				  <div class="list-group list-group-flush text-center">
	  				  <a :href="mapLink" target="_blank" class="list-group-item list-group-item-action active">
	  				    <strong>Directions</strong>
	  				  </a>
	  				  <a :href="phoneLink" class="list-group-item list-group-item-action">
	  				    Call ({{order.billing_address.phone}})
	  				  </a>
  				  </div>
				  <ul class="list-group list-group-flush text-center">
			  		<li :href="mapLink" target="_blank" class="list-group-item">
	  				    <h5 class="mb-0">Order {{order.name}}:{{order.number}}</h5>
					</li>
  				  	<li
					v-for="(item, stopIndex) in order.line_items"
					:href="phoneLink" class="list-group-item list-group-item-light d-flex justify-content-between align-items-center">
						{{item.name}}
    					<span class="badge badge-primary badge-pill">{{item.quantity}}</span>
					</li>
  				  </ul>
				  <div class="list-group list-group-flush text-center">
					  <a @click.stop="fulfill()" href="#" class="list-group-item list-group-item-action active" v-show="!isFulfilled">
	  				    Fulfill
	  				  </a>
					  <a @click.stop="unfulfill()" href="#" class="list-group-item list-group-item-action list-group-item-danger" v-show="isFulfilled">
	  				    Cancel fulfillment
	  				  </a>
					  <a @click.stop="finish()" href="#" class="list-group-item list-group-item-action" v-show="this.$parent.firstStop">
	  				    Go back
	  				  </a>
	  				  <a @click.stop="prev()" href="#" class="list-group-item list-group-item-action" v-show="!this.$parent.firstStop">
	  				    Prev order
	  				  </a>
	  				  <a @click.stop="next()" href="#" class="list-group-item list-group-item-action" v-show="!this.$parent.lastStop">
	  				    Next order
	  				  </a>
	  				  <a @click.stop="finish()" href="#" class="list-group-item list-group-item-action" v-show="this.$parent.lastStop">
	  				    Finish
	  				  </a>
  				  </div>
				</div>
            </div>
        </div>
    </div>
</template>
<style>
	.routes-order-component {
		position: relative;
	    min-height: 50vh;
	}

	.routes-order-component__loading {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		font-size: 25vw;
		text-align: center;
		width: 100%;
		height: 100%;
		z-index: 10;
		background: rgba(0, 123, 255, 0.5);
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
	}

	.routes-order-component__name {
		width: 100%;
	}

	.routes-order-component__name .badge{
		float: right;
	}

</style>
<script>
	import {getOrderId, formatAddress} from "./../mixins/mixins.js";
	import {get} from "lodash";
    export default {
		name: 'routes-order-component',
		data() {
			return {
				loading: true,
				ready: false,
				order: {}
			}
		},
		props: {
			stopData : {
				type: Object
			},
			routeData : {
				type: Object
			},
			isDouble : {
				type: Boolean
			}
		},
		methods: {
			prev() {
				this.$parent.advanceStop(-1);
			},
			next() {
			 	this.$parent.advanceStop(1);
			},
			finish() {
			 	this.$parent.stop = null;
			},
			fulfill() {
				this.loading = true;

				let request = {
					'order' : this.order,
					'driver' : this.routeData.driverSerial,
					'eta' : this.driverInfo.scheduledAt,
					'test' : 'test'
				};

		  		axios.post('/api/fulfill', request)
				.then((response) => {
					this.getOrder();
                });
			},
			unfulfill() {
				this.loading = true;
				let request = {
					'id' : this.order.id,
					'fulfillments_id' : this.fulfillmentId,
				}
		  		axios.post('/api/unfulfill', request)
				.then((response) => {
					console.log(response.data);
					this.getOrder();
                });
			},
			getOrder() {
				const options = {responseType: 'json'};
				const url = `/api/order/${this.orderId}`;

				window.axios.get(url, options)
				.then((response) => {
					this.order = response.data;
					this.loading = false;
					this.ready = true;
				});
			}
		},
		computed: {
			isFulfilled() {

				if (!this.ready) {
					return null;
				}
				const status = get(this.order, 'fulfillment_status');
				return status === 'fulfilled';
			},
			fulfillmentId() {
				if (!this.isFulfilled) {
					return null;
				}
				const fulfillments = this.order.fulfillments;
				const fulfillment_active = fulfillments.find(function(f){
					console.log(f);
					return f.status === "success";
				});
				return fulfillment_active.id;
			},
			orderId() {
				return this.stopData.orderNo;
			},
			driverInfo() {
				return this.stopData;
			},
			shippingAddress() {
				return formatAddress(this.order.shipping_address);
			},
			mapLink() {
				return `http://maps.google.com/maps?daddr=${this.stopData.address}`
			},
			phoneLink() {
				return 'tel:' + this.order.billing_address.phone
			}
		},
        mounted() {
			this.getOrder();
        }
    }
</script>
