<template>
	<table class="table" :class="{visible : visible}">
		  <thead @click="visible=!visible">
		    <tr>
		      <th scope="col">Total for {{name}}</th>
		      <th scope="col" class="text-right">
				 <span class="badge badge-pill badge-dark">{{countTotal}}</span>
			  </th>
		    </tr>
		  </thead>
		  <tbody v-show="visible">
		    <tr v-for="(variant, index) in data">
		      <td class="name">
				  <a class="variant-expand" v-if="count(variant.children) > 1" @click="expandIndex == index ? expandIndex = null : expandIndex = index">
					  <span class="badge badge-pill badge-primary">{{count(variant.children)}}</span>
					  {{variant.name}}
				  </a>
				  <span v-else >{{variant.name}}</span>
				  <div class="variant-children" v-show="expandIndex == index">
					<div class="variant-children-item" v-for="item in variant.children">
	                    {{item.name}}
	                </div>
				  </div>
			  </td>
		      <td class="value text-right">
				  {{variant.total}}
				  <div class="variant-children" v-show="expandIndex == index">
				   <div class="variant-children-item" v-for="item in variant.children">
				   		{{item.total}}
				   </div>
				 </div>
			  </td>
		    </tr>
		  </tbody>
		</table>
</template>
<script>
    export default {
		name: 'total-component',
		props: {
			data : {
				type: Object
			},
			name : {
				type: String
			}
		},
		data() {
			return {
				expandIndex: null,
				visible: false
			}
		},
		computed: {
			countTotal() {
				const data = this.data;
				return Object.keys(data).reduce(function (previous, key) {
				    return previous + data[key].total;
				}, 0);
			}
		},
		methods: {
			count(children){
				return Object.keys(children).length;
			}
		}
    }
</script>
