<template>
    <div v-if="ready">
		<total-component name="Delivery + Pickup Points" :data="this.items.items"/>
		<total-component name="Delivery" :data="this.items.items_delivery"/>
		<total-component
			v-for="pickup in this.items.items_pickup"
		    :key="pickup.slug"
			:name="pickup.name"
			:data="pickup.totals"/>
		<total-component
			v-for="driver in this.items.items_driver"
		    :key="driver.name"
			:name="driver.name"
			:data="driver.totals"/>
    </div>
</template>

<script>
    export default {
		name: 'total-container',
		data() {
			return {
				loading: true,
				ready: false,
				error: false
			}
		},
        mounted() {

				const options = {responseType: 'json'};
				const url = '/api/items';

				window.axios.get(url, options)
                .then((response) => {
					console.log(response.data);
					this.items = response.data;
					this.loading = false;
					this.ready = true;
                });
        }
    }
</script>
