.icon-spin {
	animation: icon-spin 2s infinite linear;
}

@keyframes icon-spin {
	0{
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	}
	100% {
	-webkit-transform: rotate(359deg);
	transform: rotate(359deg);
	}
}

.circle-icon-container {
	margin: 1rem auto 2rem;
	width: 50%;
}
.circle-icon {
	position: relative;
	width: 100%;
	margin: 0 0 2rem;
	height: auto;
	padding-top: 100%;
	border-radius: 100%;
	background: #1BD374;

	svg {
		fill: white;
		position: absolute;
		width: 80%;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
}