.tab {
    padding: 1em;
    border-bottom: 1px solid grey;
    color: black;
    background: white;
    position : relative;

    &--invert {
        background:black;
        color: white;
    }
    &--route {
        font-size: 12px;
    }

    &--tick-left {
        padding-left: 2em;
    }
}

.tab-tick {
    content: '';
    width: 1em;
    height: 1em;
    background: transparent;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid black;

    &.active {
        background: $brand-success;
    }
}
