.page-title {
	width: 100%;
    position: relative;
    padding-bottom: 0.2em;
    margin-bottom: 1em;
		color: #333;
	&:after {
		content: '';
		width: 33%;
		height: 4px;
		background: currentColor;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}

.page-header {
	display: flex;
	align-items: center;
	padding: 30px 0;
}
