.table {
	font-size: 12px;
	margin-bottom: 0;
	color: #333;

	.variant-expand {
		display: block;
	}
	.variant-children{
		padding: 1em 0;
	}
	.variant-children-item{
		padding: 1em 0;
		max-height: 2.5em;
		overflow: hidden;
	}
	i.note {
		display: block;
		margin-top: 0.7em;
		color: #000;
		border-left: 2px solid $brand-primary;
		padding-left: 0.4em;
	}
}

.table thead th {
	vertical-align: bottom;
	border-bottom: 0;
}

.table.visible thead {
	background: rgba(255, 255, 255, 0.75);
}
.table.visible tbody {
	background: rgba(255, 255, 255, 0.5);
		color: #949494;
		font-weight: normal;
}
