html, body {
		color: #333;
		font-weight: 100;
		height: 100%;
		background: linear-gradient(45deg, #43CEA2, #185A9D);
		background: #fff;
}

.one-line {
	white-space: nowrap;
  width: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
}
