$local-green:  #76CCA7;

.theme-public {
  .table {
    td {
      vertical-align: middle;
    }

    th:first-child,
    th:last-child,
    td:first-child,
    td:last-child
    {
      //max-width: 40px;
      text-transform: capitalize;
    }

    th:last-child,
    td:last-child
    {
     text-align: right;
    }
  }
}

.theme-welcome {

}

.layout-page-header {
  z-index: 10;
  position: relative;
  margin-bottom: 4em;

  .jumbotron {
    background-color: transparent;
    color: white;
    margin-bottom: 0;
  }

  .container {
    background-image: url('./../images/SVG/tracking.svg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0 100%;
    height: 50vh;
    min-height: 487px;
    @include media-breakpoint-up(md) {
      background-size: auto 100%;
      background-position: 100% 0;
      height: 40vh;
    }
  }

  &:before,
  &:after {
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    z-index: -2;
  }
  &:before {
    background-color: #b6daef;
    height: 70%;
    top: 0;
  }
  &:after {
    background-color: #93d35b;
    height: 34.5%;
    bottom: 0;
  }

  @include media-breakpoint-down(md) {
    h1 {
      font-size: 2.2rem;
    }
  }
}

.layout-page-header .container {
  .template-public-tracking-index & {
    background-image: url('./../images/SVG/tracking.svg');
  }
  .template-public-tracking-show & {
    background-image: url('./../images/SVG/order.svg');
  }
}