<template>
	<ul class="timeline">
		<li v-for="f in fulfillments">
			<div class="alert alert-dark" role="alert">
				<div class="row">
					<div class="col">
						<h4 class="alert-heading">Fulfillment</h4>
						<h5 class="alert-heading">#{{f.fulfillment_id}}</h5>
						<span class="badge" :class="f.fulfillment_status ? 'badge-success' : 'badge-warning'">{{ f.fulfillment_status ? 'Fulfilled' : 'Unfulfilled' }}</span>
					</div>
					<div class="col">
						<p class="mb-0"><strong>Created at:</strong> {{f.created_at}}</p>
						<p class="mb-0"><strong>Updated at:</strong> {{f.updated_at}}</p>
						<p class="mb-0"><strong>ETA at:</strong> {{f.ETA}}</p>
					</div>
				</div>
			</div>
		</li>
	</ul>
</template>

<script>
export default {
	props: {
		orderId: {
			type: String
		}
	},
	data() {
		return {
			fulfillments: {}
		}
	},
	mounted() {
		const options = {
			responseType: 'json'
		};
		const url = '/api/fulfillments/' + this.orderId;

		window.axios.get(url, options)
			.then((response) => {
				console.log(response.data);
				this.fulfillments = response.data.reverse();
			});
	}
}
</script>
