<template>
    <div >
        <div v-show="!ready">
            <h1 >Loading...</h1>
            <p class="lead">Please wait</p>
        </div>
        <div v-show="ready">
            <div v-if="fulfillmentStatus">
                <h1>Your order has been delivered</h1>
                <p class="lead">We hope everything went well, if you had an issue contact us</p>
            </div>
            <div v-else>

                <!--Order received & route scheduled-->
                <h1 v-show="status === 'hasnt-started' " >Your driver has been assigned</h1>
                <p v-show="status === 'hasnt-started' " class="lead">Please find more info about your order below</p>

                <!--Order received & route scheduled & driwer started-->
                <h1 v-show="status === 'on-the-way' " >Your driver has left the paddock</h1>
                <p v-show="status === 'on-the-way' " class="lead">Please find more info about your order below</p>

                <!--Order received & route not scheduled-->
                <h1 v-show="status === 'not-scheduled' " >Hold on Speedy Gonzales</h1>
                <p v-show="status === 'not-scheduled' " class="lead">
                    Your ETA is not ready yet. For Saturday deliveries, routes are set on a Friday at 3pm. Sit back, relax and check again later.
                    For Thursday deliveries, Tuesday 12pm.
                </p>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                status: '',
                ready: false
            }
        },
        props: {
            fulfillmentStatus : {
                type: Boolean,
                default: false
            }
        },
        methods: {
            updateOrderStatus(status) {
                this.status = status;
                this.ready = true;
            }
        },
        mounted() {
            window.Bus.$on('order-status-update', this.updateOrderStatus);
        }
    }
</script>
