<template>
    <div class="row text-center" v-if="ready">
        <div class="col-12 col-md-4">
            <div class="circle-icon-container">
                <div class="circle-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 197.99 197.99">
                        <title>logo-time</title>
                        <g id="Objects">
                            <path d="M129.43,67.36a.66.66,0,0,0-.39.36L95.33,108.5a.71.71,0,0,0-.15.48.68.68,0,0,0,.25.43l4.64,3.52a.79.79,0,0,0,.5.12.75.75,0,0,0,.44-.29L130.2,68.33a.63.63,0,0,0,.07-.56s0,0,0,0A.66.66,0,0,0,129.43,67.36Z"/>
                            <path d="M156.34,92.51a2.86,2.86,0,0,0,0-.42,1.68,1.68,0,0,0-.18-.38,58.54,58.54,0,0,0-12.07-22,9.56,9.56,0,0,0,1.73-1.54l1.61-1.85c2.61-3,2.89-6.74.65-8.67l-5.22-4.44a4.33,4.33,0,0,0-2.87-1,8,8,0,0,0-5.78,2.93L132.56,57a12.48,12.48,0,0,0-1.23,1.68,59.15,59.15,0,0,0-16.57-7.37,3.11,3.11,0,0,0-.41-.2,2.22,2.22,0,0,0-.57-.07,9.23,9.23,0,0,0,3.46-7.15V40.19a9.37,9.37,0,0,0-9.43-9.3H90a9.37,9.37,0,0,0-9.43,9.3v3.72a9.22,9.22,0,0,0,3.49,7.17,2.09,2.09,0,0,0-.42.05,3.23,3.23,0,0,0-.42.2A59.44,59.44,0,0,0,41.86,91.7a2.26,2.26,0,0,0-.18.39,1.93,1.93,0,0,0,0,.41,58.15,58.15,0,0,0-2.19,15.64c0,32.51,26.71,59,59.53,59s59.54-26.45,59.54-59A58.42,58.42,0,0,0,156.34,92.51Zm-13.1,36.54a2.67,2.67,0,0,0-3.61.94,2.5,2.5,0,0,0-.27,2,2.53,2.53,0,0,0,1.23,1.56l4.65,2.61a54.41,54.41,0,0,1-5.33,7.26l-4-3.91a2.7,2.7,0,0,0-1.88-.74,2.67,2.67,0,0,0-1.86.74,2.55,2.55,0,0,0,0,3.65l4.11,4a53.68,53.68,0,0,1-7.17,5.74l-3.05-5.17a2.64,2.64,0,0,0-2.29-1.29,2.7,2.7,0,0,0-1.32.34,2.54,2.54,0,0,0-1.23,1.57,2.47,2.47,0,0,0,.27,2l3.12,5.28A54.85,54.85,0,0,1,116,159.2l-1.65-6a2.65,2.65,0,0,0-3.23-1.82,2.58,2.58,0,0,0-1.61,1.2,2.51,2.51,0,0,0-.26,2l1.68,6.1a53.9,53.9,0,0,1-9.31,1.23v-6.35a2.65,2.65,0,0,0-5.29,0v6.35A53.89,53.89,0,0,1,87,160.59l1.67-6.1a2.57,2.57,0,0,0-1.86-3.16,2.54,2.54,0,0,0-.68-.09,2.65,2.65,0,0,0-2.56,1.91l-1.66,6a54.63,54.63,0,0,1-8.57-3.65l3.12-5.28a2.47,2.47,0,0,0,.26-2,2.53,2.53,0,0,0-1.22-1.57,2.77,2.77,0,0,0-1.32-.35,2.67,2.67,0,0,0-2.29,1.3l-3.05,5.17a53.68,53.68,0,0,1-7.17-5.74l4.11-4a2.55,2.55,0,0,0,0-3.65,2.69,2.69,0,0,0-1.87-.74,2.65,2.65,0,0,0-1.86.74l-4,3.91a54.15,54.15,0,0,1-5.34-7.25l4.64-2.62a2.55,2.55,0,0,0,1-3.52,2.65,2.65,0,0,0-2.28-1.29,2.61,2.61,0,0,0-1.32.35l-4.52,2.54A53.75,53.75,0,0,1,47,123.36l4.82-1.26a2.67,2.67,0,0,0,1.6-1.2,2.45,2.45,0,0,0,.26-2A2.62,2.62,0,0,0,51.12,117a2.71,2.71,0,0,0-.68.09l-4.69,1.23a53,53,0,0,1-.93-8.69h4.62a2.58,2.58,0,1,0,0-5.15H44.92a53.82,53.82,0,0,1,1.28-8.57l4.24,1.11a2.66,2.66,0,0,0,3.24-1.82,2.58,2.58,0,0,0-1.87-3.16L47.62,91A53.34,53.34,0,0,1,51,83l3.72,2.1a2.73,2.73,0,0,0,1.32.34,2.64,2.64,0,0,0,2.28-1.29,2.48,2.48,0,0,0,.27-2,2.62,2.62,0,0,0-1.24-1.57L53.7,78.59a53.74,53.74,0,0,1,5.4-6.8l3,2.91a2.67,2.67,0,0,0,3.73,0,2.54,2.54,0,0,0,0-3.64l-3-2.93a54.31,54.31,0,0,1,7-5.28l2.14,3.63a2.67,2.67,0,0,0,2.29,1.28,2.76,2.76,0,0,0,1.32-.34,2.53,2.53,0,0,0,1.22-1.56,2.49,2.49,0,0,0-.26-2l-2.16-3.65a53.83,53.83,0,0,1,8.14-3.37L83.61,61a2.65,2.65,0,0,0,2.56,1.91,2.59,2.59,0,0,0,.68-.09,2.63,2.63,0,0,0,1.6-1.2,2.49,2.49,0,0,0,.26-2l-1.14-4.15a56.32,56.32,0,0,1,8.79-1.09v4.27a2.64,2.64,0,0,0,5.28,0V54.44a56.21,56.21,0,0,1,8.77,1.09l-1.14,4.16a2.62,2.62,0,0,0,2.55,3.24A2.63,2.63,0,0,0,114.37,61l1.13-4.15a54,54,0,0,1,8.14,3.38l-2.15,3.65a2.5,2.5,0,0,0-.27,2,2.56,2.56,0,0,0,1.23,1.56,2.62,2.62,0,0,0,1.32.34,2.67,2.67,0,0,0,2.29-1.28l2.14-3.63a53.19,53.19,0,0,1,4.61,3.26l2.27,2.11-2.91,2.83a2.55,2.55,0,0,0,0,3.65,2.64,2.64,0,0,0,1.86.76,2.69,2.69,0,0,0,1.88-.76l3-2.92a55.2,55.2,0,0,1,5.4,6.8l-3.7,2.08a2.62,2.62,0,0,0-1.23,1.58,2.46,2.46,0,0,0,.27,1.94,2.64,2.64,0,0,0,2.28,1.29,2.77,2.77,0,0,0,1.33-.34L147,83A53.27,53.27,0,0,1,150.38,91l-4.2,1.1a2.72,2.72,0,0,0-1.61,1.2,2.54,2.54,0,0,0-.26,2,2.66,2.66,0,0,0,3.24,1.82l4.24-1.11a53.82,53.82,0,0,1,1.28,8.57h-4.52a2.58,2.58,0,1,0,0,5.15h4.63a55.28,55.28,0,0,1-.94,8.69l-4.69-1.23a2.5,2.5,0,0,0-.69-.09,2.64,2.64,0,0,0-2.55,1.91,2.55,2.55,0,0,0,.27,2,2.59,2.59,0,0,0,1.6,1.2l4.82,1.26a51.82,51.82,0,0,1-3.26,8.23Zm-7.58-67.33a5.83,5.83,0,0,1,.93-1.37l1.62-1.87a4.06,4.06,0,0,1,1.48-1.12l4.61,3.79a3.48,3.48,0,0,1-.93,1.84l-1.61,1.85a5.38,5.38,0,0,1-1.28,1.08c-1.43-1.37-2.93-2.67-4.48-3.91ZM112,43.91a4.16,4.16,0,0,1-4.15,4.16H90a4.16,4.16,0,0,1-4.15-4.16V40.19A4.15,4.15,0,0,1,90,36h17.82A4.15,4.15,0,0,1,112,40.19Z"/>
                        </g>
                    </svg>
                </div>
            </div>
            <div v-if="!isDelivered">
                <h4>Your ETA</h4>
                <p>{{scheduling.scheduleInformation.scheduledAt}}</p>
                <p v-show="trackings.length > 0">
                    <span>The driver will be {{averageTimeDiffDisplay}}</span>
                </p>
                <p>Don't hesitate to refresh the page later for a more precise ETA</p>
            </div>
            <div v-else>
                <h4>Delivered at</h4>
                <p>{{isDeliveredAt}}</p>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="circle-icon-container">
                <div class="circle-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 197.99 197.99">
                        <title>logo-truck</title>
                        <g id="Objects">
                            <path d="M64.22,132H57.31a2.54,2.54,0,0,1-2.48-1.94,14.94,14.94,0,0,0-29.24,0A2.55,2.55,0,0,1,23.1,132H6.69a2.53,2.53,0,0,1-2.47-1.89C1.4,119,4.05,96.3,4.16,95.34a2.44,2.44,0,0,1,.51-1.23C25.11,68,36.93,67.9,39.44,68.26H55.65c3.92,0,6.89,1.1,8.86,3.29a9.49,9.49,0,0,1,2.26,7v51A2.52,2.52,0,0,1,64.22,132Zm-5-5h2.41V78.43c0-.11,0-.22,0-.33h0a4.67,4.67,0,0,0-1-3.3c-1-1-2.65-1.57-5-1.57H39.22a3.27,3.27,0,0,1-.62-.07s-.07,0-.25,0c-1.8,0-11.62,1.13-29.2,23.43-.39,3.59-2.09,20.69-.38,30.46H21.16a20,20,0,0,1,38.1,0Z"/>
                            <path d="M161.12,132H150.79a2.53,2.53,0,0,1-2.48-1.94,14.94,14.94,0,0,0-29.25,0,2.53,2.53,0,0,1-2.48,1.94H71.07a2.52,2.52,0,0,1-2.55-2.49V67.33c0-.38.11-9.59,15.6-11.2h63.94c15.5,1.61,15.61,10.82,15.61,11.22v62.18A2.52,2.52,0,0,1,161.12,132Zm-8.39-5h5.84V67.33c0-.16-.38-5.1-10.92-6.24H84.54c-10.66,1.15-10.93,6.17-10.92,6.22v59.74h41a20,20,0,0,1,38.09,0Z"/>
                            <path d="M40.19,149.71a13.64,13.64,0,1,1,13.5-13.64A13.58,13.58,0,0,1,40.19,149.71Zm0-22.3a8.67,8.67,0,1,0,8.4,8.66A8.53,8.53,0,0,0,40.19,127.41Z"/>
                            <path d="M133.59,149.53a13.64,13.64,0,1,1,13.49-13.64A13.57,13.57,0,0,1,133.59,149.53Zm0-22.31a8.67,8.67,0,1,0,8.39,8.67A8.55,8.55,0,0,0,133.59,127.22Z"/>
                            <path d="M44.15,136.07a4,4,0,1,1-4-4A4,4,0,0,1,44.15,136.07Z"/>
                            <path d="M40.19,140.94A4.87,4.87,0,1,1,45,136.07,4.84,4.84,0,0,1,40.19,140.94Zm0-8.07a3.21,3.21,0,1,0,3.12,3.2A3.15,3.15,0,0,0,40.19,132.87Z"/>
                            <path d="M137.55,135.89a4,4,0,1,1-4-4A4,4,0,0,1,137.55,135.89Z"/>
                            <path d="M133.59,140.75a4.87,4.87,0,1,1,4.81-4.86A4.84,4.84,0,0,1,133.59,140.75Zm0-8.07a3.21,3.21,0,1,0,3.11,3.21A3.17,3.17,0,0,0,133.59,132.68Z"/>
                            <path d="M50.35,101.78H20.82a2.54,2.54,0,0,1-2.36-1.56,2.45,2.45,0,0,1,.59-2.73L38.6,79.16a2.62,2.62,0,0,1,1.77-.69h10A2.51,2.51,0,0,1,52.9,81V99.28A2.52,2.52,0,0,1,50.35,101.78Zm-23.2-5H47.81V83.44H41.39Z"/>
                            <path d="M161.12,80H71.07a2.49,2.49,0,1,1,0-5h90.05a2.49,2.49,0,1,1,0,5Z"/>
                            <path d="M161.12,95.44H71.07a2.49,2.49,0,1,1,0-5h90.05a2.49,2.49,0,1,1,0,5Z"/>
                            <path d="M182.8,65.39H168.53a2.49,2.49,0,1,1,0-5H182.8a2.49,2.49,0,1,1,0,5Z"/>
                            <path d="M192.52,53.25h-32.8a2.49,2.49,0,1,1,0-5h32.8a2.49,2.49,0,1,1,0,5Z"/>
                        </g>
                    </svg>
                </div>
            </div>
            <h4>Your driver</h4>
            <p>{{scheduling.scheduleInformation.driverName}}</p>
        </div>
        <div class="col-12 col-md-4">
            <div class="circle-icon-container">
                <div class="circle-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 197.99 197.99">
                        <title>logo-call</title>
                        <g id="Objects">
                            <path d="M156.47,91.76C154.75,60,145.23,32.24,98.93,30.89,53,32.28,43.36,60.88,41.55,91.64a29,29,0,0,0-.32,15.47c2.51,10.76,9.68,18.57,17.06,18.57a10.32,10.32,0,0,0,2.21-.24c8-1.78,12-12.62,9.24-24.67C67.22,90,60.05,82.19,52.68,82.19a10.94,10.94,0,0,0-2.22.24,10.3,10.3,0,0,0-3.76,1.72c2.9-26.21,13.75-47.67,52.23-48.84,38.92,1.14,49.64,22,52.43,48.88a10.54,10.54,0,0,0-3.83-1.76,11,11,0,0,0-2.22-.24c-7.38,0-14.54,7.82-17.05,18.58-2.82,12,1.24,22.89,9.23,24.67a10.25,10.25,0,0,0,2.21.24,11.06,11.06,0,0,0,2.43-.29c-13.73,24-26,33.64-38.24,33-.54-4.09-5.19-7.3-11.17-7.45h-.45c-6.2,0-11.15,3.43-11.27,7.8a7.29,7.29,0,0,0,3.57,6.11,14.5,14.5,0,0,0,7.7,2.29h.44c4.54,0,8.3-1.75,10.11-4.38,1.23.09,2.49.14,3.8.14,13.86,0,28.37-11.91,43-42a29.42,29.42,0,0,0,7.13-13.74A29,29,0,0,0,156.47,91.76Z"/>
                        </g>
                    </svg>
                </div>
            </div>
            <h4>Contact us</h4>
            <p>Get in touch on Messenger or send us an email at <a href="mailto:info@localorganicdelivery.com.au">info@localorganicdelivery.com.au</a>
            </p>
            <a href="https://m.me/1540382035976231?ref=messenger_commerce_1163199097047119_https://www.localorganicdelivery.com.au/"
               class="">
                <img src="https://cdn.shopifycloud.com/messenger_commerce/assets/custom-button/blue_large-c6c93a43546ae4ed86e109708b2f4cfaf3b99654374226e01598db58bae76497.png"
                     alt="">
            </a>
        </div>
    </div>
</template>

<script>
    import {sum, get} from 'lodash';
    import moment from 'moment';
    export default {
        props: {
            orderId: {
                type: String
            }
        },
        data() {
            return {
                scheduling: {},
                fulfillments: [],
                trackings: [],
                ready: false
            }
        },
        computed: {

            timeDiff() {
                if (this.trackings.length === 0) {
                    return 0;
                }
                //return this.trackings.map(e => this.getMinutesBetweenDates(e.ETA, e.updated_at) );
                return this.trackings.map(e => this.getMinutesBetweenDates(e.ETA, e.updated_at));
            },

            averageTimeDiff: function () {
                if (this.trackings.length === 0) {
                    return 0;
                }
                return sum(this.timeDiff) / this.timeDiff.length;
            },
            onTheWay() {
                return this.trackings.length === 0 ? 'hasnt-started' : 'on-the-way';
            },
            averageTimeDiffDisplay() {
                const average = Math.ceil(this.averageTimeDiff);
                let status = 'on time';
                if (average === 0) {
                    return status;
                }
                if (average > 0) {
                    status = 'late'
                }
                else {
                    status = 'early'
                }

                return parseInt(average) + 'min ' + status;
            },

            isDelivered() {
                return get(this.fulfillments, '[0].fulfillment_status', 0)
            },

            isDeliveredAt() {
                if (this.isDelivered) {
                    return get(this.fulfillments, '[0].updated_at', 0)
                }
                return 0;
            }
        },
        methods: {
            getMinutesBetweenDates(startDate, endDate) {
                // let diff = endDate.getTime() - startDate.getTime();
                // return (diff / 60000);

                var x = new moment(endDate);
                var y = new moment(startDate);

                return moment.duration(x.diff(y)).as('minutes');
            },
            broadcastStatus() {
                window.Bus.$emit('order-status-update', this.onTheWay);
            },
            getFulfillments() {
                const options = {
                    responseType: 'json'
                };
                const url = '/api/fulfillments/' + this.orderId;

                window.axios.get(url, options)
                    .then((response) => {
                        console.log(response.data);
                        this.fulfillments = response.data.reverse();
                    });
                this.getTrackings();
            },
            getTrackings() {
                const options = {
                    responseType: 'json'
                };
                const url = '/api/fulfillments/summarize/' + this.scheduling.scheduleInformation.driverSerial;

                window.axios.get(url, options)
                    .then((response) => {
                        console.log(response);
                        this.trackings = response.data;
                        this.broadcastStatus();
                        this.ready = true;
                    });
            }
        },
        mounted() {
            const options = {
                responseType: 'json'
            };

            const url = '/api/optimo/get-schedule/' + this.orderId;

            window.axios.get(url, options)
                .then((response) => {
                    console.log(response.data);
                    this.scheduling = response.data;

                    if (!this.scheduling.success) {
                        window.Bus.$emit('order-status-update', 'not-scheduled');
                    }

                    if (!this.scheduling.orderScheduled) {
                        window.Bus.$emit('order-status-update', 'not-scheduled');
                    }

                    this.getFulfillments();
                })
                .catch((errors) => {
                    console.log('error', errors)
                })
        }
    }
</script>
