<template>
	<form @submit.prevent="testOrder">
		<div class="form-group" v-show="!success">
			<div class="row">
				<div class="col">
					<div class="badge badge-warning" v-show="updated">Updated</div>
					<small>{{result_code}}</small>
					<p>{{result_message}}</p>
					<div class="btn-toolbar justify-content-between">
						<div class="btn-group" role="group" aria-label="First group">
							<button class="btn btn-warning" @click.prevent="forceOrder">Force Order</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group" v-show="success">
			<div class="row">
				<div class="col">
					<div class="badge badge-success">Success</div>
					<small>Order address is correct</small>
					<p>
						Update the order in Shopify
					</p>
				</div>
				<div class="col">
					<recharge-address-update :order="o"></recharge-address-update>
				</div>
			</div>
			<div class="btn-toolbar justify-content-between">
				<div class="btn-group" role="group" aria-label="First group">
					<button class="btn btn-primary" @click.prevent="updateOrder">Update Shopify</button>
				</div>
			</div>
		</div>
		<div class="form-group">
			<h3>{{customer_name}}</h3>
			<label class="next-label" for="customer_address_company">Company</label>
			<input class="form-control" size="30" type="text"  v-model.sync="customer_address_company" name="customer_address[company]" id="customer_address_company">
		</div>
		<div class="form-group">
			<label class="next-label" for="customer_address_address1">Address line 1</label>
			<input class="form-control" size="30" type="text" v-model.sync="customer_address_address1" name="customer_address[address1]" id="customer_address_address1">
		</div>
		<div class="form-group">
			<label class="next-label" for="customer_address_address2">Address line 2</label>
			<input class="form-control" size="30" type="text" v-model.sync="customer_address_address2" name="customer_address[address2]" id="customer_address_address2">
		</div>
		<div class="row">
			<div class="col">
				<div class="form-group">
					<label class="next-label" for="customer_address_city">City</label>
					<input class="form-control" size="30" type="text" v-model.sync="customer_address_city" name="customer_address[city]" id="customer_address_city">
				</div>
			</div>
			<div class="col">
				<div class="form-group">
					<label class="next-label" for="customer_address_zip">Zip / Postal code</label>
					<input class="form-control" size="30" type="text" v-model.sync="customer_address_zip" name="customer_address[zip]" id="customer_address_zip">
				</div>
			</div>
		</div>
		<input class="form-control" size="30" type="hidden" :value="orderId" name="orderNo" id="orderNo">
		<div class="btn-toolbar justify-content-between">
			<div class="btn-group" role="group" aria-label="First group">
				<button class="btn btn-primary">Test</button>
				<button class="btn btn-primary" @click.prevent="updateOrder" v-show="success">Update Shopify</button>
			</div>
			<div class="btn-group" role="group" aria-label="Navigation group">
				<button @click.prevent="prev" class="btn btn-secondary" :disabled="!canAdvance">Prev</button>
				<button @click.prevent="next" class="btn btn-secondary" :disabled="!canAdvance">Next</button>
			</div>
		</div>
	</form>
</template>

<script>
    export default {
		name: 'optimo-form',
		props: ['order'],
		data() {
			return {
				updated :  false,
				success :  false,
				result_code :  null,
				result_message :  null,
				customer_name: null,
				customer_address_company: null,
				customer_address_address1: null,
				customer_address_address2: null,
				customer_address_city: null,
				customer_address_zip: null,
				validation: {
					optimoroute: false,
					shopify: false,
				}
			}
		},
		methods: {
			reset(){
				this.updated =  false;
				this.success =  false;
				this.result_code =  null;
				this.result_message =  null;
				this.validation.optimoroute = false;
				this.validation.shopify = false;
			},
			next() {
				if(this.canAdvance){
					this.$parent.errorIndex = this.$parent.errorIndex + 1;
					this.reset();
				}
			},
			prev() {
				this.$parent.errorIndex = this.$parent.errorIndex - 1;
				this.reset();
			},
			testCallback(data) {
				console.log(data);

				if(data.success){
					this.updated = true;
					this.success = true;
					this.order.result.code = "Success";
					this.validation.optimoroute = true;
				}

				setTimeout(this.clearUpdated, 5000);
			},
			clearUpdated(){
				this.updated = false;
			},
			testOrder () {
				let request = {
					'shipping_address' : this.shippingAddress,
					'order' : this.o,
					'force' : false
				}
		  		axios.post('/api/optimo/test-order', request)
				.then((response) => {
					this.testCallback(response.data);
                });
	  		},
			forceOrder () {
				let request = {
					'shipping_address' : this.shippingAddress,
					'force' : true,
					'order' : this.o
				}
		  		axios.post('/api/optimo/test-order', request)
				.then((response) => {
					this.testCallback(response.data);
                });
	  		},
			updateOrder () {
		  		axios.put('/api/update-order', this.oUpdated)
				.then((response) => {
					console.log(response);
					this.validation.shopify = true;
                });
	  		},
			updateFields() {
				this.result_code = this.order.result.code;
				this.result_message = this.order.result.message;
				this.customer_name = this.o.customer.first_name+' '+this.o.customer.last_name;
				this.customer_address_company = this.o.shipping_address.company;
				this.customer_address_address1 = this.o.shipping_address.address1;
				this.customer_address_address2 = this.o.shipping_address.address2;
				this.customer_address_city = this.o.shipping_address.city;
				this.customer_address_zip = this.o.shipping_address.zip;
			}
		},
		computed: {
			shippingAddress () {
				let shippingAddress =
				this.customer_address_address1
				+' '+
				this.customer_address_address2
				+' '+
				this.customer_address_city
				+' '+
				this.customer_address_zip;

				return shippingAddress;
			},
			orderId() {
				const o = this.o;
				return o.id+o.name;
			},
			o() {
				return this.order;
			},
			oUpdated(){
				let order = this.o;
				order.shipping_address.company = this.customer_address_company;
				order.shipping_address.address1 = this.customer_address_address1;
				order.shipping_address.address2 = this.customer_address_address2;
				order.shipping_address.city = this.customer_address_city;
				order.shipping_address.zip = this.customer_address_zip;
				return order;
			},
			canAdvance(){
				return this.validation.optimoroute && this.validation.shopify;
			}

		},
		watch: {
			order: function(newVal, oldVal) { // watch it
				this.updateFields();
			}
		},
        mounted() {
			this.updateFields();
        }
    }
</script>
