<template>
	<div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Label</th>
					<th scope="col">Slug</th>
					<th scope="col">Postcodes</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(pickupPoint, i) in list">
					<th scope="row">{{pickupPoint.id}}</th>
					<td>{{pickupPoint.label}}</td>
					<td>{{pickupPoint.slug}}</td>
					<td>{{pickupPoint.postcodes}}</td>
					<td>
						<div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
							<button type="button" class="btn btn-secondary" @click="index = i">Edit</button>
							<button type="button" class="btn btn-danger" @click="deleteSetting(i)">Remove</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="modal modal-form" tabindex="-1" role="dialog" v-if="index >= 0 && index !== null">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Edit {{pickupPoints[index].label}}</h5>
						<button type="button" class="close" @click="index = null" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
					</div>
					<div class="modal-body">
						<form @submit="updateSetting()">
							<div class="form-group">
								<label for="update-form-label">Label</label>
								<input class="form-control" id="update-form-label" type="text" name="label" placeholder="label" v-model="pickupPoints[index].label"/>
							</div>
							<div class="form-group">
								<label for="update-form-slug">Slug</label>
								<input class="form-control"  id="update-form-slug" type="text" name="slug" placeholder="slug" v-model="pickupPoints[index].slug"/>
							</div>
							<div class="form-group">
								<label for="update-form-value">Postcodes</label>
								<input class="form-control"  id="update-form-postcodes" type="text" name="postcodes" placeholder="postcodes" v-model="pickupPoints[index].postcodes"/>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" value="Add" @click="updateSetting()">Edit Setting</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal" @click="index = null">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<style>
.modal-form {
	display: block;
}
</style>
<script>
export default {
	props: ['pickupPoints'],
	data() {
		return {
			index: null,
			list: []
		}
	},
	mounted() {
		this.list = this.pickupPoints;
	},
	methods: {
		deleteSetting() {
			console.log('delete', this.pickupPoint);
		},
		updateSetting() {
			const pickupPoint = this.pickupPoints[this.index];
			axios.put(`/api/pickup-point/update/${pickupPoint.id}`, pickupPoint)
			.then((response) => {
				this.index = null;
			});
		},
		deleteSetting(i) {
			const pickupPoint =  this.pickupPoints[i];

			axios.get(`/api/pickup-point/delete/${pickupPoint.id}`)
			.then((response) => {
				this.index = null;
				this.list.splice(i, 1);
			});
		}
	}
}
</script>
