<template>
    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th v-for="header in headers" scope="col">{{ header }}</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(school, i) in list">
                <td v-for="field in school">{{ field }}</td>
                <td>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary" @click="index = i">Edit</button>
                        <button type="button" class="btn btn-danger" @click="deleteSetting(i)">Remove</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="modal modal-form" tabindex="-1" role="dialog" v-if="index >= 0 && index !== null">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit {{schools[index].label}}</h5>
                        <button type="button" class="close" @click="index = null" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="overflow: auto; max-height: 80vh">
                        <form @submit="updateSetting()">
                            <div class="form-group" v-for="header in headers">
                                <label for="update-form-label">{{ header }}</label>
                                <input
                                        class="form-control" id="update-form-label" type="text" name="label"
                                        placeholder="label" v-model="schools[index][header]"/>
                            </div>
                            <!--							<div class="form-group">-->
                            <!--								<label for="update-form-slug">Slug</label>-->
                            <!--								<input class="form-control"  id="update-form-slug" type="text" name="slug" placeholder="slug" v-model="school[index].slug"/>-->
                            <!--							</div>-->
                            <!--							<div class="form-group">-->
                            <!--								<label for="update-form-value">Postcodes</label>-->
                            <!--								<input class="form-control"  id="update-form-postcodes" type="text" name="postcodes" placeholder="postcodes" v-model="school[index].postcodes"/>-->
                            <!--							</div>-->
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" value="Add" @click="updateSetting()">Edit
                            Setting
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="index = null">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style>
.modal-form {
    display: block;
}
</style>
<script>
import {first} from "lodash/array";
import {keys} from "lodash";

export default {
    props: ['schools'],
    data() {
        return {
            index: null,
            list: []
        }
    },
    computed: {
        headers() {
            return keys(first(this.list));
        }
    },
    mounted() {
        this.list = this.schools;
    },
    methods: {
        deleteSetting() {
            console.log('delete', this.schools);
        },
        updateSetting() {
            const school = this.schools[this.index];
            axios.put(`/api/school/update/${school.id}`, school)
                .then((response) => {
                    this.index = null;
                });
        },
        deleteSetting(i) {
            const school = this.schools[i];

            axios.get(`/api/school/delete/${school.id}`)
                .then((response) => {
                    this.index = null;
                    this.list.splice(i, 1);
                });
        }
    }
}
</script>
