<template>
    <div class="col">
		<div class="badge" v-show="type">{{type}}</div>
		<div>
			<ul class="list-group"  v-for="a in recharge.addresses">
			  <li class="list-group-item"><small>{{shippingAddress(a)}}</small>
				  <a @click="updateAddress(a.id)" class="button button-primary">Update</a>
			  </li>
			</ul>
		</div>
    </div>
</template>

<script>
	import {omitBy,isEmpty} from 'lodash';

    export default {
		props: {
			order: Object,
		},
		data() {
			return {
				loading: true,
				recharge: {
					customer: [],
					addresses: []
				},
				type: null
			}
		},
		watch: {
			order: function (newVal, oldVal) {
				this.loading = true;
				this.getCustomer();
			}
		},
		computed: {
			customerId() {
				return this.order.customer.id;
			}
		},
		methods: {
			shippingAddress (address) {
				let shippingAddress =
				address.address1
				+' '+
				address.address2
				+' '+
				address.city
				+' '+
				address.zip;

				return shippingAddress;
			},
			getCustomer() {
				const id = this.customerId;

				const options = {responseType: 'json'};

				const url = `/api/recharge/customers/shopify/${id}`;

				axios.get(url, options)
                .then((response) => {
					console.log(response.data.customers);
					this.recharge.customer = response.data.customers[0];
					if(this.recharge.customer) {
						this.getAddresses(this.recharge.customer.id);
						this.type = 'subscriber';
					}
					else {
						this.loading = false;
                        this.type = 'one-off';
					}
                });
			},
			getAddresses(id) {
				const options = {responseType: 'json'};

				const url = `/api/recharge/customers/${id}/addresses/`;

				axios.get(url, options)
                .then((response) => {
					console.log(response.data.customers);
					this.recharge.addresses = response.data.addresses;
					this.loading = false;
                });
			},
			updateAddress(id) {
				this.loading = true;
				const request = {
					"address" : {
                        "address1": this.order.shipping_address.address1,
                        "address2": this.order.shipping_address.address2,
                        "postcode": this.order.shipping_address.postcode,
                        "city": this.order.shipping_address.city,
					},
					"id" : id
				};

				const body = {
                    "address" : omitBy(request.address, isEmpty),
                    "id" : id
                };

				const url = `/api/recharge/address/update/`;

				axios.put(url, body)
				.then((response) => {
					console.log(response.data);
					this.loading = false;
                });
			}
		},
        mounted() {
			this.getCustomer();
        }
    }
</script>
