<template>
	<div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Label</th>
					<th scope="col">Value</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(customer, i) in list">
					<th scope="row">{{customer.id}}</th>
					<td>{{customer.first_name}} {{customer.last_name}}</td>
					<td>{{customer.value}}</td>
					<td>
						<div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
							<button type="button" class="btn btn-secondary" @click="index = i">Edit</button>
							<button type="button" class="btn btn-danger" @click="deleteSetting(i)">Remove</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="modal modal-form" tabindex="-1" role="dialog" v-if="index >= 0 && index !== null">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Edit {{customers[index].label}}</h5>
						<button type="button" class="close" @click="index = null" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
					</div>
					<div class="modal-body">
						<form @submit="updateSetting()">
							<div class="form-group">
								<label for="update-form-label">Label</label>
								<input class="form-control" id="update-form-label" type="text" name="label" placeholder="label" v-model="customers[index].label"/>
							</div>
							<div class="form-group">
								<label for="update-form-value">Value</label>
								<input class="form-control"  id="update-form-value" type="text" name="value" placeholder="value" v-model="customers[index].value"/>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" value="Add" @click="updateSetting()">Edit Setting</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal" @click="index = null">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<style>
.modal-form {
	display: block;
}
</style>
<script>
export default {
	props: ['customers'],
	data() {
		return {
			index: null,
			list: []
		}
	},
	mounted() {
		this.list = this.customers;
	},
	methods: {

	}
}
</script>
